body {font-family: "Lucida Grande", Verdana, Sans-serif; text-align: center;}



a{color:#06c;text-decoration:none;}
a:link{color:#06c;text-decoration:none;}
a:visited{color:#06c;}
a:hover{color:#f60;}
a.current{color:#333;font-weight:bold;text-decoration:none;}
a.action{text-decoration:underline;}
