<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="David Calavera" />
   <link href="http://calavera.github.io/atom.xml" rel="alternate" title="Calavera @ IO" type="application/atom+xml" />

   <!--Homepage CSS-->
   <link rel="stylesheet" href="/static/css/screen.css" media="screen, projection" />
</head>
<body>

<div class="site">
  <nav>
    <div class="title">
      <a class="home" href="/">Calavera @ IO</a>
      <a class="extra" rel"archives" href="/archives.html">Archives</a>
    </div>
  </nav>

  {{ content }}

  <footer>
  <div class="footer">
    <div class="contact">
      <p>David Calavera</p>
    </div>
    <div class="contact">
      <p><a href="http://github.com/calavera">github.com/calavera</a></p>
    </div>
    <div class="contact">
      <p><a href="http://twitter.com/calavera">twitter.com/calavera</a></p>
    </div>
    <div class="rss">
      <a href="http://calavera.github.io/atom.xml">
        <img src="/static/imgs/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
  </footer>
</div>
{% include analytics.html %}
</body>
</html>
